body{
    background-color: #a3ddcb;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    text-align: center;
    font-family: 'Merriweather', serif;
    
}


h1{
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 7.25rem;
    color: #66BFBF;
    line-height: 2;
    
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
}



h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25rem;
    color: #11999E;
}


.top-container{
    background-color: #e4efe7;
    position: relative;
    padding-top: 100px;
}

.profile-img{
    width: 300px;

}

.middle-container{
    padding-top: 10px;
   
}

.pro{
    text-decoration: underline;
}

.bottom-cloud{
    position: absolute;
    left: 450px;
    top: 380px ;
   
}
.top-cloud{
    position: absolute;
    right: 500px;
    top: 70px;

}
.mountain{
    width: 600px;
}
.footer-link{
    color: #00adb5;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}
.footer-link:hover{
    color: #00818a;
}
.skills{
    background-color: #a9f1df;
    padding: 5px;
}

.hello{
    color: #00adb5;
}
.myskills{
    color: #00adb5;
}



.bottom-container{
    background-color: #ffffff;
    padding: 20px 0px;
}
.contact-me{
    background-color: #caf7e3;
    padding-top: 5px;
    padding-bottom: 30px;
   
}

.getintouch{
    color: #00adb5;
    
}
.contact-msg{
    color: #00adb5;
    line-height: 2;
    width: 600px;
    margin: 40px auto 60px;
}
.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;

}
.skillrow1-img{
    width: 20%;
    float: left;
    margin-right: 30px;
}
.skillrow2-img{
    width: 20%;
    float: right;
    margin-left: 30px;
}
.profile-des{
    color: #1b1919;

}
.copyright{
    color: #334443;
    font-size: 0.75rem;
    padding: 30px 0px;
}


.BUTTON_GZB {
    background: #11CDD4;
    background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
    background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
    background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
    background-image: -o-linear-gradient(top, #11CDD4, #11999E);
    background-image: -webkit-gradient(to bottom, #11CDD4, #11999E);
    -webkit-border-radius: 44px;
    -moz-border-radius: 44px;
    border-radius: 44px;
    height: 0;
    line-height: 0;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    width: 149px;
    font-size: 20px;
    font-weight: 100;
    padding: 40px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    margin-bottom: 40px;
 }
 
 .BUTTON_GZB:hover {
    border: solid #2BC4AD 0;
    background: #30E3CB;
    background-image: -webkit-linear-gradient(top, #30E3CB, #3D94F6);
    background-image: -moz-linear-gradient(top, #30E3CB, #3D94F6);
    background-image: -ms-linear-gradient(top, #30E3CB, #3D94F6);
    background-image: -o-linear-gradient(top, #30E3CB, #3D94F6);
    background-image: -webkit-gradient(to bottom, #30E3CB, #3D94F6);
    -webkit-border-radius: 44px;
    -moz-border-radius: 44px;
    border-radius: 44px;
    text-decoration: none;
 }
